#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		-Dexamples=false \
		-Drenderers=gles2 \
		-Dtracy_enable=false \
		-Dcolor-management=disabled

override_dh_missing:
	dh_missing --fail-missing
